.progress-container {
  position: fixed;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #f3f4f6;
}

.progress-bar {
  height: 100%;
  background-color: var(--color-primary);
  width: 0;
}
